.text_D1D1D1 {
  color: #D1D1D1;
}

.text_15161D {
  color: #15161D;
}

.hover_opacity:hover {
  opacity: .7;
}

.py_40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py_12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py_160 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.pt_72 {
  padding-top: 72px;
}

.fs_128 {
  font-size: 128px;
}

.fs_64 {
  font-size: 64px;
}

.border_radius_32 {
  border-radius: 32px;
}

.lh_15 {
  line-height: 1.5;
}

.max_h_600 {
  max-height: 600px;
}

.mb_36 {
  margin-bottom: 36px;
}

.gap_24 {
  gap: 24px;
}