<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!--  -->
    <section class="pt_72 bg-black pb-5">
      <div class="container d-flex justify-content-center align-items-center">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/people.png?raw=true" alt="people-img">
        <div class="d-flex flex-column">
          <h2 class="fs_64 mb-0 lh_15">Hi <br>I’m a front-end <br> developer</h2>
          <h1 class="fs_128 text-green text-end mb-0 lh_15">William</h1>
          <a href="#" class="d-inline-block bg-white py_12 px-4 text-black border_radius_32 hover_opacity ms-auto">
            <span class="me-1">contact me</span>
            <img class="align-bottom" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/arrow_outward.png?raw=true" alt="arrow icon">
          </a>
        </div>
        <!-- <a href="#" class="self-end">contact me<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/arrow_outward-white.png?raw=true" alt="arrow icon"
            class="ml-4"></a> -->
      </div>
    </section>

    <!--  -->
    <section style="background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true) center no-repeat; background-size: cover;">
      <div class="container d-flex py_160">
        <div class="me-4">
          <h2 class="fs_64 mb_36">Introduction</h2>
          <p class="fs-4 mb-5">
            Hi, I'm William Lee, a Front-End Developer with a passion for building beautiful and responsive websites that provide an optimal user experience.
          </p>
          <img class="me-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/sparkle-sm.png?raw=true" alt="sparkle-sm">
          <img class="me-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/sparkle-sm.png?raw=true" alt="sparkle-sm">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/sparkle-sm.png?raw=true" alt="sparkle-sm">
        </div>
        <img class="me-4" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/sparkle.png?raw=true" alt="sparkle">
        <img class="me-4" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/photographer.png?raw=true" alt="photographer">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/people-2.png?raw=true" alt="people-2">
      </div>
    </section>

    <!--  -->
    <div class="container d-flex text_15161D">
      <section class="col-6">
        <ul class="row">
          <li class="col-6">
            <p>01</p>
            <p>Attention to Detail</p>
            <p>Meticulous code analysis and optimization.</p>
          </li>
          <li class="col-6">
            <p>02</p>
            <p>Adaptability</p>
            <p>Swift learning of new technologies.</p>
          </li>
          <li class="col-6">
            <p>03</p>
            <p>Problem Solver</p>
            <p>Identifying and resolving issues.</p>
          </li>
          <li class="col-6">
            <p>04</p>
            <p>Team Player</p>
            <p>Collaborates and shares ideas.</p>
          </li>
        </ul>
      </section>
      <section>
        <h2></h2>
        <p></p>
      </section>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
