<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!--  -->
    <section class="pt_72 bg-black pb-5">
      <div class="container d-flex justify-content-center align-items-center">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/people.png?raw=true" alt="people-img">
        <div class="d-flex flex-column">
          <h2 class="fs_64 mb-0 lh_15">Hi <br>I’m a front-end <br> developer</h2>
          <h1 class="fs_128 text-green text-end mb-0 lh_15">William</h1>
          <a href="#" class="d-inline-block bg-white py_12 px-4 text-black border_radius_32 hover_opacity ms-auto">
            <span class="me-1">contact me</span>
            <img class="align-bottom" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/arrow_outward.png?raw=true" alt="arrow icon">
          </a>
        </div>
        <!-- <a href="#" class="self-end">contact me<img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/arrow_outward-white.png?raw=true" alt="arrow icon"
            class="ml-4"></a> -->
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
